:host {
  width: 100%;
  height: 156px;
  object-fit: contain;
  background-color: #004b65;
  display: block;
  position: relative;

  .title {
    display: block;
    font-size: 14px;
    font-weight: normal;
    color: #ffffff;
    padding: 0px;
    padding-left: 30px;
    padding-top: 20px;
  }

  .board-type {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    display: inline-block;
    padding-left: 30px;
  }

  .board-quantity {
    font-size: 14px;
    font-weight: normal;
    color: #ffffff;
    padding: 0px;
    display: inline-block;
    vertical-align: middle;

    &.separator {
      padding: 0px;
      padding-right: 10px;
      padding-left: 10px;
    }

    .quantity {
      font-weight: bold;
    }
  }

  .action-button {
    position: absolute;
    top: 10px;
    right: 0px;
    font-size: 21px;
    color: white;
    margin-right: 30px;

    .fa {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      cursor: pointer;

      &:hover {
        color: #00bcca;
      }
    }
  }

  .menu-bar {
    display: block;
    padding: 0px;
    padding-left: 30px;
    padding-top: 20px;

    .menu-item {
      font-size: 14px;
      font-weight: normal;
      color: #00bcca;
      margin-right: 30px;
      cursor: pointer;

      &:hover {
        color: white;
      }
    }
  }
}
