/*
:host {
  position: fixed;
  width: 100vw;
  height: 100vh;
  padding: 5vh 5vw;
  box-sizing: border-box;
  display: block;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.2);

  .card {
    margin: auto;
  }
}
*/
