<form #dynamicForm="ngForm" novalidate>
  <!--develop Created-->

  <div class="form-row">

    <!--  'mt-3 col-xl-' + option.sizeXl + '  col-lg-' + option.sizeLg + '  col-md-' + option.sizeMd + '  col-sm-' + option.sizeSm + '  col-xs-' + option.sizeXs  -->
    <div *ngFor="let option of options"
         [class]="'mt-3 col-xl-' + option.sizeXl + ' col-lg-' + option.sizeLg + ' col-md-' + option.sizeMd + ' col-sm-' + option.sizeSm + ' col-xs-' + option.sizeXs">
      <!--Common-->
      <label class="font-weight-bold">{{option.label}}</label>

      <!--Dynamic-->
      <span [ngSwitch]="option.type">

        <!--  ************************************* Text ************************************* -->
       <span *ngSwitchCase="'text'">
           <input type="text"
                  [required]="option.required"
                  [(ngModel)]="data[option.name]"
                  [name]="option.name"
                  class="form-control"
                  [pattern]="option?.pattern"
                  [minlength]="option.min"
                  [maxlength]="option.max"
                  [placeholder]="'Enter '+option.label">
            <small *ngIf="dynamicForm.controls[option.name]?.pristine"
                   class="form-text text-muted">{{option.desc}}</small>
            <small class="form-text text-danger"
                   *ngIf="isValidationError(dynamicForm, option, 'required')">
              Provide valid {{option.label}}
            </small>
            <small class="form-text text-danger"
                   *ngIf="isValidationError(dynamicForm, option, 'minlength')">
              Provide Minimum {{option.min}} charters for {{option.label}}
            </small>
            <small class="form-text text-danger"
                   *ngIf="isValidationError(dynamicForm, option, 'maxlength')">
              Provide Maximum {{option.min}} charters for {{option.label}}
            </small>
            <small *ngIf="isValidationError(dynamicForm, option, 'pattern')"
                   class="form-text text-danger">
              Provide valid Pattern for {{option.label}}
            </small>
       </span>

        <!--  ************************************* Date ************************************* -->
       <span *ngSwitchCase="'date'">
           <input [(ngModel)]="data[option.name]"
                  [max]="option.max"
                  [min]="option.min"
                  [name]="option.name"
                  [placeholder]="'Enter '+option.label"
                  [required]="option.required"
                  class="form-control"
                  type="date">
            <small *ngIf="dynamicForm.controls[option.name]?.pristine"
                   class="form-text text-muted">{{option.desc}}</small>
            <small *ngIf="isValidationError(dynamicForm, option, 'required')"
                   class="form-text text-danger">
              Provide {{option.label}}
            </small>
            <small *ngIf="isValidationError(dynamicForm, option, 'min')"
                   class="form-text text-danger">
              Date should be more than {{option.min|date:'dd-MMM-yyyy'}}
            </small>
            <small *ngIf="isValidationError(dynamicForm, option, 'max')"
                   class="form-text text-danger">
              Date should be less than {{option.max|date:'dd-MMM-yyyy'}}
            </small>
       </span>

        <!--  ************************************* Range ************************************* -->
       <span *ngSwitchCase="'range'">
            <div class="form-control"
                 style="background-color: transparent;border: 1px solid transparent;border-radius: 0px;line-height: 1.4;">
               <input [(ngModel)]="data[option.name]"
                      [max]="option.max"
                      [min]="option.min"
                      [name]="option.name"
                      class="form-control-range"
                      type="range">
            </div>

            <small *ngIf="dynamicForm.controls[option.name]?.pristine"
                   class="form-text text-muted">{{option.desc}}</small>
            <small *ngIf="isValidationError(dynamicForm, option, 'required')"
                   class="form-text text-danger">
              Provide {{option.label}}
            </small>
            <small *ngIf="isValidationError(dynamicForm, option, 'minlength')"
                   class="form-text text-danger">
              Provide Minimum {{option.min}} charters for {{option.label}}
            </small>
            <small *ngIf="isValidationError(dynamicForm, option, 'maxlength')"
                   class="form-text text-danger">
              Provide Maximum {{option.min}} charters for {{option.label}}
            </small>
            <small *ngIf="isValidationError(dynamicForm, option, 'pattern')"
                   class="form-text text-danger">
              Provide valid Pattern for {{option.label}}
            </small>
       </span>

        <!--  ************************************* Password ************************************* -->
       <span *ngSwitchCase="'password'">
           <input type="password"
                  [required]="option.required"
                  [(ngModel)]="data[option.name]"
                  [name]="option.name"
                  class="form-control"
                  [maxlength]="option.max"
                  [minlength]="option.min"
                  [pattern]="option?.pattern"
                  [placeholder]="'Enter '+option.label">
            <small *ngIf="dynamicForm.controls[option.name]?.pristine"
                   class="form-text text-muted">{{option.desc}}</small>
            <small class="form-text text-danger"
                   *ngIf="isValidationError(dynamicForm, option, 'required')">
              Provide {{option.label}}
            </small>
            <small *ngIf="isValidationError(dynamicForm, option, 'minlength')"
                   class="form-text text-danger">
              Provide Minimum {{option.min}} charters for {{option.label}}
            </small>
            <small *ngIf="isValidationError(dynamicForm, option, 'maxlength')"
                   class="form-text text-danger">
              Provide Maximum {{option.min}} charters for {{option.label}}
            </small>
            <small *ngIf="isValidationError(dynamicForm, option, 'pattern')"
                   class="form-text text-danger">
              Provide valid Pattern for {{option.label}}
            </small>
       </span>

        <!--  ************************************* Email ************************************* -->
       <span *ngSwitchCase="'email'">
           <input type="email"
                  email
                  [required]="option.required"
                  [(ngModel)]="data[option.name]"
                  [name]="option.name"
                  class="form-control"
                  [placeholder]="'Enter '+option.label">
            <small *ngIf="dynamicForm.controls[option.name]?.pristine"
                   class="form-text text-muted">{{option.desc}}</small>
            <small class="form-text text-danger"
                   *ngIf="isValidationError(dynamicForm, option, 'required')">
              Provide valid {{option.label}}
            </small>
            <small *ngIf="isValidationError(dynamicForm, option, 'email')"
                   class="form-text text-danger">
              Provide valid {{option.label}}
            </small>
       </span>

        <!--  ************************************* Radio ************************************* -->
        <div *ngSwitchCase="'radio'">
            <div class="form-control"
                 style="height: auto;background-color: transparent;border: 1px solid transparent;border-radius: 0px;line-height: 1.4;">
              <div class="form-check form-check-inline"
                   *ngFor="let subOption of option.dataProvider">
                  <input [(ngModel)]="data[option.name]"
                         [name]="option.name"
                         type="radio"
                         [value]="subOption['value']"
                         class="form-check-input"
                         [id]="subOption['id']">
                  <label class="form-check-label"
                         [for]="subOption['id']">{{subOption['label']}}</label>
              </div>
            </div>
            <small class="form-text text-muted">{{option.desc}}</small>
            <small class="form-text text-danger"
                   *ngIf="isValidationError(dynamicForm, option, 'required')">
              Provide {{option.label}}
            </small>
       </div>

        <!--  ************************************* select ************************************* -->
        <div *ngSwitchCase="'select'">
          <select [(ngModel)]="data[option.name]"
                  [name]="option.name"
                  class="form-control">
            <option *ngFor="let subOption of option.dataProvider"
                    [id]="subOption['id']"
                    [value]="subOption.value"> {{subOption.label}} </option>
          </select>
          <small *ngIf="dynamicForm.controls[option.name]?.pristine"
                 class="form-text text-muted">{{option.desc}}</small>
          <small *ngIf="isValidationError(dynamicForm, option, 'required')"
                 class="form-text text-danger">
            Provide {{option.label}}
          </small>
       </div>

        <!--  ************************************* Checkbox ************************************* -->
        <div *ngSwitchCase="'checkbox'">
            <div class="form-control"
                 style="height: auto;background-color: transparent;border: 1px solid transparent;border-radius: 0px;line-height: 1.4;">
              <div *ngFor="let subOption of option.dataProvider"
                   class="form-check form-check-inline">
                  <input (change)="onCheckboxValueChange(data[option.name],subOption['value'],$event)"
                         [checked]="isCheckboxSelected(data[option.name],subOption['value'])"
                         [id]="subOption['id']"
                         [name]="option.name"
                         class="form-check-input"
                         type="checkbox">
                  <label [for]="subOption['id']"
                         class="form-check-label">{{subOption['label']}}</label>
              </div>
            </div>
            <small class="form-text text-muted">{{option.desc}}</small>
            <small
              *ngIf="isValidationError(dynamicForm, option, 'required')"
              class="form-text text-danger">
              Provide {{option.label}}
            </small>
            <small
              *ngIf="isValidationError(dynamicForm, option, 'min')"
              class="form-text text-danger">
              Please select minimum {{option.min}} options for {{option.label}}
            </small>
            <small
              *ngIf="isValidationError(dynamicForm, option, 'max')"
              class="form-text text-danger">
              Please select maximum {{option.max}} options for {{option.label}}
            </small>
       </div>

      </span>


    </div>

  </div>

  <button class="btn btn-primary" [disabled]="dynamicForm.invalid" (click)="onFormSubmit(dynamicForm)">Save</button>

</form>

<pre>{{data|json}}</pre>
