<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Dynamic Form</a>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">

          <li class="nav-item position-relative" *ngFor="let form of forms">

            <a *ngIf="!form.isEdit"
               [class]="form.isActive ? 'nav-link active' : 'nav-link'"
               (click)="formsService.setActive(form)">
              {{form.name}}
            </a>

            <i class="fa fa-trash"
               (click)="formsService.remove(form)"
               style="cursor:pointer;position: absolute;top: 11.5px;right: 10px"></i>

            <i class="fa fa-edit"
               *ngIf="!form.isEdit"
               (click)="formsService.updateEdit(true,form);updateFormName=form.name"
               style="cursor:pointer;position: absolute;top: 12px;right: 30px"></i>

            <i class="fa fa-times"
               *ngIf="form.isEdit"
               (click)="formsService.updateEdit(false,form);updateFormName=''"
               style="cursor:pointer;position: absolute;top: 12px;right: 30px"></i>

            <input type="text"
                   (keyup.enter)="updateForm(form)"
                   *ngIf="form.isEdit"
                   [focus]="form.isEdit"
                   [(ngModel)]="updateFormName"
                   placeholder="Provide new form name & Enter"
                   class="form-control"
                   style="font-size: 12px;width: 94% !important;margin-left: 5%;">
          </li>

          <li class="nav-item p-2">
            <input type="text" (keyup.enter)="addNewForm()"
                   [(ngModel)]="newFormName"
                   placeholder="Provide new form name & Enter"
                   class="form-control" style="font-size: 12px;">
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2" *ngIf="activeForm">{{activeForm.name}}</h1>
        <button type="button" class="btn btn-primary" (click)="controllerService.openModal()">Create template modal
        </button>
        <ngx-dynamic-form [(data)]="controllerService.data"
                          [isEditable]="false"
                          [options]="controllerService.options"></ngx-dynamic-form>
      </div>
    </main>
  </div>
</div>
