<div class="row position-relative">
  <div *ngIf="openSideMenu" class="side-meu shadow">
    <ul class="list-group">
      <li (click)="editExistingComponent(option, formGen)"
          *ngFor="let option of options; let optionIndex=index;"
          [class]="'list-group-item '+( option.name == activeComponent ? 'active' : '' )">{{option.label}}
        - {{option.index}}
        <span [class]="showActionBar ? 'action-bar active' : 'action-bar'">
          <button (click)="deleteItem($event, optionIndex, option)" class="btn btn-danger btn-sm mr-2"><i
            class="fa fa-trash"></i></button>
          <button (click)="moveUpItem($event, optionIndex, option)" [disabled]="optionIndex==0"
                  class="btn btn-info btn-sm mr-2">&#x25B2;</button>
          <button (click)="moveDownItem($event, optionIndex, option)" [disabled]="optionIndex==options.length-1"
                  class="btn btn-info btn-sm">&#x25BC;</button>
        </span>
        <span class="clearfix"></span>
      </li>
    </ul>
  </div>
  <button (click)="openSideMenu=!openSideMenu" [style.left]="(openSideMenu?'252px':'0px')"
          class="btn btn-primary side-menu-toggle">
    <i aria-hidden="true" class="fa fa-bars"></i>
  </button>
  <div class="col-12">
    <app-dynamic-form-generator #formGen
                                (save)="save.emit({controllerData:$event,formGen:formGen})"
                                (cancel)="cancel.emit('')"
                                [saveButtonLabel]="saveButtonLabel">
    </app-dynamic-form-generator>
  </div>
</div>
