:host {
  .list-group-item {
    .action-bar {
      display: none;
      position: absolute;
      top: 6px;
      right: 5px;
    }

    &:hover {
      .action-bar {
        display: inline-block;
      }
    }
  }
}
